
/* 
body{
  background-color: var(--bg-black-color);
} */
.App {
  text-align: center;
  background-color: var(--bg-black-color);
  color: var(--app-color);
  /* max-content */
  /* height: 100vh; */
  max-height: -webkit-fill-available;
  
  display: flex;
  flex-direction: column;

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.App .game-header{
  height: 65px;
}

.App .offcanvas{
  background-color: var(--bg-black-color);
  color: var(--app-color);
}
/* .App .offcanvas-body a{
  color: var(--app-color);
} */
.App .nav-link{
  color: var(--navbar-color);
}
.App .nav-link.active{
  color: var(--navbar-active-color);
}

.App .offcanvas-body li:hover{
  background-color: var(--hover-color);
}

.App .navbar{
  background-color: var(--bg-black-color);
  border-bottom: 1px solid var(--cube-border);
  padding: 0;
  height: 65px;
}
.App .navbar-toggler{
  color: var(--app-color);
}

.App .navbar-brand{
  font-size: 33px;
  font-weight: 900;
  letter-spacing: 0.01em;
  padding: 0;
  color: var(--app-color);
}
@media (max-width: 992px) {
  .App .navbar-brand{
    font-size: 28px;
  }
}

.dismiss-button{
  border: 0;
  font-size: 1.2em;
  background-color: var(--modal-content-bg);
  color: var(--app-color);
  border-color: var(--modal-content-bg);
}

.side-buttons .side-buttons-icons{
 letter-spacing: 2em;
 cursor: pointer;
 color: var(--app-color);
 background-color: var(--bg-black-color);
 /* border-color: var(--bg-black-color); */
 border:0;
}
.navbar-brand{
  margin-left: 8%;
}

.game-body{
  width: 100%;
  max-width: 500px;
  margin:0 auto;
  margin-top: 5%;
  /* height: calc(100% - 65px); */
  vertical-align: middle;
  display: flex;
  flex-direction: column;
}

.Board-module{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
  /* height: calc(100% - 200px); */

}
.Board-module-board{
    width: 350px;
    height: 420px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}
.board-row{
  /* gap:5px;
  margin-top: 5px; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;

}
.cube{
  /* background-color: var(--bg-black-color);
  width: 100%;
  display: inline-flex;
  width: 2em;
  height: 2em;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  box-sizing: border-box;
  border: 2px solid var(--cube-border);
  vertical-align: middle;
  width: 100%; */
  background-color: var(--bg-black-color);
  border: 2px solid var(--cube-border);
  width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 1;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    color: var(--app-color);
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.Keyboard-module{
  height: 200px;
  /* margin: 0 8px; */

  background-color: var(--bg-black-color);
  /* border: 1px solid red; */
}

.Keyboard-module .keyboard-button:focus {
  border: solid 1px #00c;
}

.Keyboard-module .keyboard-button{
  /* margin: 0 6px 0 0; */
  /* width: 8vw; */
  /* height: 58px;
  border-radius: 10%;
  
  display: inline-block;
  margin-left: 0.5vw;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  color: var(--app-color);
  background-color: var(--key-bg);
  text-transform: uppercase; */

  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 3px 0 3px;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--key-bg);
  color: var(--app-color);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}
.first-row, .second-row, .third-row{
    /* display: flex;
    justify-content: center;   */
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.flex-div{
  flex: 0.5;
}

.modal-content{
  background-color: var(--bg-black-color);
}

.modal-header{
  border-bottom: none;
}

.modal-body{
  display: flex;
  flex-direction: column;
}
.settings-options{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-tone-4);
  padding: 16px 0;
}
.settings-options-texts{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.settings-options-texts small{
  /* font-size: 12px; */
  color: var(--color-tone-2);
}
.settings-options-side{
  color: var(--color-tone-2);
}
small{
  font-size: 0.7em;
  color: var(--color-tone-2);
}

.how-options{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  border-bottom: 1px solid var(--color-tone-4);
  font-family: serif;
}
.how-options h3{
  font-weight: 800;
  font-family: sans-serif;
}
.how-options h5{
  font-weight: unset;
}
.how-footer{
  text-align: start;
  margin-top: 1em;
}
.how-footer a{
  text-decoration: none;
}
.examples{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
}

.exm{
    line-height: 1;
    display: inline-block;
    width: 32px;
    height: 32px;
    font-size: 1.4rem;
    text-align: center;
    line-height: normal;
}

.how-row{
  display: flex;
  grid-gap: 5px;
}
.correct{
  background-color: var(--color-correct);
}
.present{
  background-color: var(--color-present);
}
.absent{
  background-color: var(--color-absent);
}

/* #settings-modal .modal-footer{
  justify-content: center;
} */

.statistics-options{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  border-bottom: 1px solid var(--color-tone-4);
  font-family: serif;
  align-items: center;
}

.stats-boxes{
  display: flex;
  grid-gap:5px;
}
.stats-box{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 12px;
}
.stats-num{
  font-size: 34px;
  font-weight: 400;
}
.stats-footer{
  display: flex;
  
  width: 100%;
  justify-content: space-between;
}
.stats-footer .button{
  border-radius: 105px;
  width: calc(50% - 5px);
  line-height: 25px;
  border-width: 0;
  font-size: 14px;
  font-weight: 600;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.stats-footer .share:focus{
  background-color: var(--color-correct);
}

.spellingBeeYellow{
  background-color: var(--spellingBeeYellow);
  color: black;
}
.spellingBeeYellow:focus{
  background-color: var(--spellingBeeYellow);
}
#statistics-modal .modal-title{
  letter-spacing: 0.05em;
  font-weight: bold;
}
#statistics-modal .stats-title{
  letter-spacing: 0.05em;
  font-weight: bold;
}
.statsData-box{
  display: flex;
  padding-top: 5px;
  
}
.stats-title{
  text-align: center;
}
.guess-val{
  margin-left: 5px;
  padding: 0 10px 0 10px;
  background-color: var(--color-tone-4);
}
.guess-value{
  width: 100%;
  text-align: right;
  background-color: var(--color-correct);
}
.guessdiv{
  width: 100%;
  padding: 10px;
  
}
