:root {
  --color-correct: #538d4e;
  --color-absent: #3a3a3c;
  --color-present:  #b59f3b;
  --key-bg: #818384;
  --bg-black-color:#121213;
  --app-color: #FFFFFF;
  --modal-content-bg: #121213;
  --color-tone-4:#3a3a3c;
  --color-tone-2: #818384;
}

body{
  color: white;
  background-color: var(--bg-black-color);
}